.accordion-header{
    display: flex;
    border: 1px solid darkgray;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 20px;
}
.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.flex{
    display: flex;
    align-items: center;
}
.border-bottom{
    border-bottom: none;
}

@media screen and (min-width:400px){
    .accordion-header{
        width:85%;
    }
    
}